button,
.btn {
  width: 10%;
  padding: 10px 10px;
  margin: 8px 8px;
  border-radius: 4px;
  font-size: small;
  cursor: pointer;
  float: right;
}
.regist{
  margin: 10px;
  margin-bottom: 100px;
}
.regist-form {
  border-radius: 5px;
  padding: 20px;
}
.title {
  border: none;
  font-weight: bold;
  font-size: large;
}

input::placeholder {
  font-weight: lighter;
}

.content{
  height: 80%;
}

a.board-title {
  color: black;
}

.subject{
  color:#ff5f00;
  font-weight: bold;
}

.subject-span{
  text-align: center;
  width: 30%;
  height: 100%;
  margin-right: 1%;
  color:#ff5f00;
}

.title-span{
  text-align: center;
  width: 70%;
  height: 130%;
  font-size: 170%;
}

.author-span{
  font-size: 120%;
}

.write_time-span{
  font-size: 120%;
}

.content-span{
  font-size: 120%;
  display: block;
}

.comment-a{
  text-align: right;
  color:#ff5f00;
  margin-left: 10px;
}

.comment-a a:hover {
  background-color: lightgray;
}

.board-btn{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:#ff5f00;
  color:white;
  font-weight: bold;
  border: 0;
  outline: 0;
}

.board-a a:hover {
  background-color: lightgray;
}

.board-a{
  text-align: right;
  float:right;
  color: #ff5f00;
}

.board-a a{
  margin:5px;
}

.notice-subject{
  color: #ff5f00;
  font-weight: bold;
}

#board-list {
    border-collapse: collapse;
    width: 100%;
  }
  
  #board-list thead {
    background-color: #ccc;
    font-weight: bold;
  }
  
  #board-list td,
  #board-list th {
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 50px;
  }

  th{
    background-color:#ff8f4f ;
    color: white;
  }
  td{
    background-color: white;
  }


  hr{
    background-color: #ff5f00;

  }